aiofiles==0.8.0
ajsonrpc==1.2.0
anyio==3.5.0
asgiref==3.5.0
azure-iot-device==2.12.0
blinker==1.8.2
bottle==0.12.19
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.7
colorama==0.4.4
deprecation==2.1.0
exitstatus==1.4.0
Flask==3.0.3
h11==0.13.0
idna==3.3
ifaddr==0.1.7
itsdangerous==2.2.0
janus==1.0.0
Jinja2==3.1.4
MarkupSafe==2.1.5
marshmallow==3.15.0
packaging==21.3
paho-mqtt==1.6.1
platformio==5.2.5
pycryptodomex==3.9.7
pyelftools==0.28
pyparsing==3.0.7
pyserial==3.5
PySocks==1.7.1
requests==2.32.0
requests-unixsocket==0.3.0
semantic-version==2.9.0
sniffio==1.2.0
starlette==0.18.0
tabulate==0.8.9
typing_extensions==4.7.1
urllib3==1.26.9
uvicorn==0.17.6
Werkzeug==3.0.3
wsproto==1.0.0
zeroconf==0.38.4

SQLAlchemy~=2.0.29